In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import csv
import os
import glob

In [8]:
os.chdir("/home/ronet/Desktop/strtsmrt-master/data/hsd")
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [25]:
joint_csv=pd.DataFrame()
for f in all_filenames:
    df=pd.read_csv(f)
    df['Stock_Name']=f[:-4]
    joint_csv=pd.concat([joint_csv,df])

joint_csv.to_csv("stocks_trend.csv", index=False, encoding='utf-8-sig')

In [26]:
joint_csv

,Date,Open,High,Low,Close,Volume,Adj Close,Stock_Name
0,2017-02-13,78.949997,79.639999,78.809998,79.610001,1427500,79.610001,ALL
1,2017-02-10,78.550003,79.309998,78.129997,78.879997,1636700,78.879997,ALL
2,2017-02-09,77.989998,78.389999,77.730003,78.349998,1910500,78.349998,ALL
3,2017-02-08,78.099998,78.190002,77.800003,77.989998,1496600,77.989998,ALL
4,2017-02-07,78.500000,78.680000,78.070000,78.120003,1762400,78.120003,ALL
...,...,...,...,...,...,...,...,...
1032,2013-01-08,55.750000,55.790001,54.820000,55.410000,3370800,52.348132,HES
1033,2013-01-07,55.619999,55.939999,55.099998,55.840000,4536200,52.754371,HES
1034,2013-01-04,54.160000,55.040001,54.099998,55.020000,2371200,51.979684,HES
1035,2013-01-03,53.599998,54.700001,53.320000,54.200001,3887600,51.204996,HES
1036,2013-01-02,54.130001,54.130001,53.060001,53.709999,5446900,50.742071,HES

In [28]:
names=joint_csv['Stock_Name'].unique()

In [32]:
any(joint_csv.isna())

True